<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title><%=title %></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <style>
            #btnstart{
                width:320px;
                height:100px;
                font-size:30px;
            }
        </style>
        <script>
        
        var test_array=[
            ['Wrong page',400 , 'https://api-yboy.c9users.io/'],
            ['Wrong page',404 , 'https://api-yboy.c9users.io/v'],
            ['Wrong page',404 , 'https://api-yboy.c9users.io/abcd'],
            ['Wrong search subject',404, 'https://api-yboy.c9users.io/?s=Conventry'],
            ['Wrong city name',404, 'https://api-yboy.c9users.io/?v=Convantry'],
            ['No cityname',404, 'https://api-yboy.c9users.io/?v='],
            ['Search Conventry',200, 'https://api-yboy.c9users.io/?v=Conventry'],
            ['Search Hong Kong',200, 'https://api-yboy.c9users.io/?v=Hong Kong'],
            ['Search USA',200, 'https://api-yboy.c9users.io/?v=Conventry'],
            ['Search Tai pei',200, 'https://api-yboy.c9users.io/?v=Tei pei'],
            ['Search London',200, 'https://api-yboy.c9users.io/?v=London'],
            ['Search Cambridge',200, 'https://api-yboy.c9users.io/?v=Cambridge'],
            ['Search Roma',200, 'https://api-yboy.c9users.io/?v=Roma'],
            ['Search Beijing',200, 'https://api-yboy.c9users.io/?v=Beijing'],
            ['Search Shanghai',200, 'https://api-yboy.c9users.io/?v=Shanghai'],
            ['Search Limoges',200, 'https://api-yboy.c9users.io/?v=Limoges'],
            ['Search Frankfurt',200, 'https://api-yboy.c9users.io/?v=Frankfurt'],
            ['Search Zagreb',200, 'https://api-yboy.c9users.io/?v=Zagreb'],
            ['Search Rennes',200, 'https://api-yboy.c9users.io/?v=Rennes'],
            ['Search Rennes',200, 'https://api-yboy.c9users.io/?v=Rennes'],
            ['Search Rennes',200, 'https://api-yboy.c9users.io/?v=Rennes'],
            ['Search Beijing',200, 'https://api-yboy.c9users.io/?v=Beijing'],
            ['Search Hong Kong',200, 'https://api-yboy.c9users.io/?v=Hong Kong'],
            ['Search Hong Kong',200, 'https://api-yboy.c9users.io/?v=Hong Kong']
        ]
        
        $(document).ready(function(){
            $("#btnstart").click(function(){
                
                for(var i=0;i<test_array.length;i++){
                   setTimeout( postdata(i), 10000);
                }
                alert('Success!');
            });
        });
        
        function postdata(ci){
            try{
                var sendDate = (new Date()).getTime();
                $.ajax({type: "GET",
                        crossDomain : true,
                        url: test_array[ci][2],
                        dataType: "jsonp",
                        success: function(data, textStatus, request){
                            
                            var receiveDate = (new Date()).getTime();
                
                            var responseTimeMs = receiveDate - sendDate;
                            $("#content").append("<tr><td>"+(ci+1)+"</td><td>"+test_array[ci][0]+"</td><td>"+test_array[ci][2]+"</td><td>"+responseTimeMs+"ms</td><td>"+test_array[ci][1]+"</td><td>"+data.code+"</td><td>"+data.source+"</td><td>OK!</td></tr>");
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $("#content").append("<tr><td>"+(ci+1)+"</td><td>"+test_array[ci][0]+"</td><td>"+test_array[ci][2]+"</td><td>"+responseTimeMs+"ms</td><td>"+test_array[ci][1]+"</td><td>...</td><td></td><td>No reult</td></tr>");
                          //alert(xhr.status);
                          //alert(thrownError);
                        }
                });
            }catch(ex){
                $("#content").append("<tr><td>"+ci+"</td><td>"+test_array[ci][0]+"</td><td>"+test_array[ci][2]+"</td><td></td><td></td><td></td><td></td><td>No reult</td></tr>");
            }
        }
        
        </script>
    </head>
    <body>
        <h2><%= title %></h2>
        <button id="btnstart">Start Testing</button>
        <table border ='1' id = "content">
            <tr>
                <th>ID</th>
                <th>Discript</th>
                <th>URL</th>
                <th>Respon Time</th>
                <th>Expect code</th>
                <th>Json code</th>
                <th>Data Source</th>
                <th>Result</th>
            </tr>
        </table>
    </body>
</html>